/* raleway font */

.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    background-color: rgb(254, 251, 246);
    height: auto;
}

/* main */
main{
    margin: 100px 150px 0px 150px;
}

/* header */

.header{
    background-image: url('../images/Hero-bg.png');
    height: 700px;
    
}



/* nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px 200px 150px;
}
.nav-title{
    font-size: 35px;
    font-weight: bolder;
}
nav button{
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    cursor: pointer;
}
nav button:hover{
    background-color: rgb(255, 250, 244);
    color: black;
    transition: .5s;
}
a{
    text-decoration: none;
}

/* shared color */
.primary-color{
     color: #4E47FF;
}
.primary-bg-color{
    background-color: #4E47FF;
}
.primary-btn {
    color: white;
    background-color: #4E47FF;
    border-radius: 10px;
    text-decoration: none;
}
.primary-color:hover{
    background-color: aliceblue;
}

/* banner-styles */
.banner-content{
    width:900px;
    height: 240px;
    margin: 0px auto;
}
.banner-content h2{
    
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}

.banner-content button{
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

}
.banner-content button:hover{
    background-color: rgb(255, 250, 244);
    color: black;
    transition: .5s;
}



/* action section */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
    margin: 0px auto;

    margin-bottom: 100px;

}

.action-content h2{
    font-size: 42px;
    width:100%;
    font-weight: bold;

    margin-bottom: 23px
}
.action-content p{
    font-size: 25px;
    width: 60%;
    color: rgba(37, 36, 50, 50%);
    margin-bottom: 23px
}
.action-content button{
    width: 229px;
    height: 48px;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.action-content button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: .5s;
}
.action-image{
    border-radius: 50px;
    width: 100%;
    max-height: 330px;
}

/* user section */

.user{
    background-color:rgba(78,71,255,10%);
    border-radius: 24px;
    margin-bottom: 130PX;
}

.title{
    max-width: 850px;
    max-height: 45px;
    margin: 0px auto;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0px;
    padding: 50px 140px 30px 140px  ;
}
.details{
    display: flex;
    justify-content: space-around;

}
.details h3{
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 0px;
    max-width: 180px;
    max-height: 120px;
}
.details p{
    font-size: 20px;
    color: rgba(0, 0, 0, 50%);
}

/* review section */

.card-container{
    display: flex;
    justify-content: space-around;
}
.review{
    width: 100%;
}
.review-title{
    text-align: center;
    font-size: 49px;
    font-weight: bold;
    margin-bottom: 50px;

}
.review-card{
    background-color: aliceblue;
    border-radius: 20px;
    width: 360px;
    height: 240px;
    padding: 24px;
    box-shadow: 7px 7px 15px #423cfc;
    margin-bottom: 100px;

}
.review-card h3{
    font-size: 20px;
}

.profile{
    display: flex;
    padding-top: 10px;
}
.profile img{
    width: 40px;
    height: 40px;
    border-radius: 999px;
    margin-top: 10px;
    margin-right: 10px;
}
.profile h4{
    margin-bottom: 0px;
    font-size: 14px;
}
.profile span{
    color: rgba(0, 0, 0, 50%);
}

/* contact us */

.contact-us{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.contact-us-column {
    width: 50%;
}
.contact-us-column h3{
    font-size:100px;
    width: 500px;

}

form {
    width: 100%;
}

form label{
    color: black;
    font-size: 19px;
}
form input[type="email"],form input[type="text"],form textarea{
    height: 50px;
    border-radius: 10px;
    background-color: aliceblue;
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 17px;
    margin: 10px 0px;
    box-sizing: border-box;
    border: none;
}
form textarea{
    height: 90px;
    padding: 20px 20px;
}
.form-button {
    padding: 14px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 17px;
    width: 100%;
    display: block;
    margin: 10px 0px;
    padding: 10px 20px;
    cursor: pointer;
}
.form-button:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    transition: .5s;
}

/* footer */
footer{
    background-color: white;
    width: 100%;
    padding-top: 20px;
}

footer h2{
    text-align: center;
    font-size: 100px;
    color: #4E47FF;
    margin-bottom: 15px;
}
footer p{
    text-align: center;
    font-size: 18px;
    width: 100%;
    color: rgb(129, 119, 119);
    margin-bottom: 40px;

}

footer ul{
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
}
footer ul a{
    text-decoration: none;
    color: rgb(129, 119, 119);
    font-size: 16px;
    padding-bottom: 60px;
}