/* raleway font */

.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}




/* header */

.header{
    background-image: url('../images/Hero-bg.png');
    height: 700px;
    
}



/* nav style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px 200px 150px;
}
nav a{
    text-decoration: none;
}
.nav-title{

}


/* shared color */
.primary-color{
     color: #4E47FF;
}
.primary-bg-color{
    background-color: #4E47FF;
}
.primary-btn{
    color: white;
    background-color: #4E47FF;
    border-radius: 5px;
}

/* banner-styles */
.banner-content{
    width:900px;
    height: 240px;
    margin: 0px auto;
}
.banner-content h2{
    
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 37px;
}

.banner-content button{
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 50px;

}

/* hero section */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 150px;
}
.hero-content{
    font-weight: bold;
    align-items: center;

}

.hero-image{
    border-radius: 50px;

}

/* user section */

.user{
    background-color:#dbd9ff;
    border-radius: 24px;
}

.title{
    display: flex;
    justify-content: center;
}
.details{
    display: flex;
    justify-content: space-around;
}

/* review section */

.card-container{
    display: flex;
    justify-content: space-around;
}
.review-title{
    text-align: center;
}
.review-card{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}

.profile{
    display: flex;
}

/* contact us */
.contact-us{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 0 auto;
    padding: 10px 150px;
}
.contact-us-column {
    width: 50%;
}
.contact-us-column h3{
    font-size: 50px;

}
form input[type="email"],form input[type="text"],form textarea{
    height: 64px;
    border-radius: 5px;
    background-color: aliceblue;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
}

/* footer */

footer h2{
    text-align: center;
    font-size: 50px;
    color: #4E47FF;
}
footer p{
    text-align: center;
}

footer ul{
    display: flex;
    gap: 20px;
    list-style: none;
    justify-content: center;
}
footer ul a{
    text-decoration: none;
}